@import 'util/variables';

.podcast-detail-content-episode {
  color: #333;
  font-size: 80%;
  font-style: italic;

  .podcast-detail-content__title {
    margin-bottom: .5rem;
  }

  &__audio {
    margin-top: 1.75rem;
    width: 100%;
  }
}
